<div class="navbar bg-zinc-900 px-5 sm:px-20">
  <div class="flex-1 text-white">
    <div class="mr-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-7 h-7"
      >
        <path
          d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
        ></path>
      </svg>
    </div>
    <p class="font-light">Bornoz</p>
    <p class="font-semibold">Fly</p>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            ></path></svg>
          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </label>
      <div
        tabindex="0"
        class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow"
      >
        <div class="card-body">
          <span class="font-bold text-lg">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
            <button class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between">
            Profile
          </a>
        </li>
        <li>
          <a class="justify-between" onclick="location.href = '/logout'">
            Logout
            <span><i class="fa-solid fa-right-to-bracket"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <div class="toast toast-end z-10">
    <div class="alert shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6 text-green-400"
          fill="none"
          viewBox="0 0 24 24"
        ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path></svg>
        <spa class="text-white">¡Succesfully logged in
          <span id="username">{{username}}!</span></spa>
      </div>
    </div>
  </div>
  <div class="sm:m-10 w-full sm:w-3/4 bg-bg-zinc-900 p-5 sm:rounded-box h-fit">
    <!--PRODUCTOS FORM / TABLE-->
    <section class="text-white">
      <h2 class="text-2xl">Products</h2>
      <form class="form-control flex gap-3" id="enviarProducto">
        <div>
          <label class="label">
            <span class="label-text">Product name</span>
          </label>
          <label class="input-group">
            <span>Name</span>
            <input
              type="text"
              placeholder="Book"
              class="input input-bordered w-full"
              id="nombreProducto"
            />
          </label>
        </div>
        <div>
          <label class="label">
            <span class="label-text">Enter amount</span>
          </label>
          <label class="input-group">
            <span>Price</span>
            <input
              type="number"
              placeholder="10"
              class="input input-bordered w-full"
              id="precioProducto"
            />
          </label>
        </div>
        <div>
          <label class="label">
            <span class="label-text">Thumbnail URL</span>
          </label>
          <label class="input-group">
            <span>URL</span>
            <input
              type="text"
              placeholder="https://smartmobilestudio.com/wp-content/uploads/2012/06/leather-book-preview.png"
              class="input input-bordered w-full"
              id="urlProducto"
            />
          </label>
        </div>
        <div class="flex">
          <input
            type="submit"
            class="btn border-none bg-blue-500 text-white"
            value="Submit"
          />
        </div>
      </form>
      <div class="overflow-x-auto">
        <table
          class="table table-compact sm:table-normal w-full my-5 text-center"
        >
          <!-- head -->
          <thead class="text-white">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Picture</th>
            </tr>
          </thead>
          <tbody id="products"></tbody>
        </table>
      </div>
    </section>
    <!--FIN PRODUCTOS FORM / TABLE-->
    <!--COMIENZA CHAT FORM / DISPLAY-->
    <section class="text-white flex flex-col gap-3">
      <h2 class="text-2xl">Chat</h2>
      <!--form message-->
      <div>
        <form
          class="flex flex-col sm:flex-row items-center text-black gap-3"
          id="enviarMensaje"
          action="#"
        >
          <input
            class="text-black p-2 bg-white input input-bordered"
            required
            type="text"
            placeholder="Your username..."
            name="usernameAlias"
            id="usernameAlias"
          />
          <input
            class="text-black p-2 bg-white input input-bordered"
            required
            type="text"
            placeholder="Your message..."
            name="message"
            id="messageInput"
          />
          <button
            class="btn border-none bg-purple-700"
            type="submit"
            value="Send"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <!--termina form message-->
      <div class="max-h-96 overflow-x-auto">
        <div class="w-full rounded-lg bg-gray-200 text-black p-6 max-h-full">
          <ul id="messageOutput" class="flex flex-col gap-2 items-end"></ul>
        </div>
      </div>
    </section>
    <!--TERMINA CHAT FORM / DISPLAY-->
  </div>
</div>