<div class="w-full flex flex-col justify-between sm:flex-row h-screen">
  <div class="flex sm:w-1/2 justify-center items-center">
    <div class="w-3/4 py-10 sm:px-20 rounded-box">
      <h1 class="text-3xl mb-5 text-white">Log In</h1>
      <form
        class="w-full flex flex-col gap-3"
        action="/login"
        method="post"
        role="form"
        autocomplete="off"
      >
        <input
          id="nombre"
          name="username"
          placeholder="Your username"
          class="input input-bordered w-full bg-inherit text-white"
          type="text"
          required
        />
        <input
          id="password"
          name="password"
          placeholder="Your password"
          class="input input-bordered w-full bg-inherit text-white"
          type="password"
          required
        />
        <button class="btn btn-secondary" type="submit">Log In</button>
      </form>
      <div class="divider"></div>
      <div class="w-full">
        <button
          class="btn btn-primary w-full"
          onclick="location.href = '/signup'"
        >Create new account</button>
      </div>
    </div>
  </div>  
  <div class="divider divider-horizontal py-20"></div>  
  <div class="flex sm:w-1/2 mb-10">
    <div
      class="w-full sm:h-screen bg-zinc-900 text-3xl text-white flex flex-col justify-center items-center gap-4"
    >
      <div class="flex items-center">
        <div class="mr-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-7 h-7"
          >
            <path
              d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
            ></path>
          </svg>
        </div>
        <p class="font-light">Bornoz</p>
        <p class="font-semibold">Fly</p>
      </div>
      <div class="flex gap-2 text-gray-400 text-sm">
        <div><a
            class="hover:text-white"
            href="https://www.linkedin.com/in/patoalbornoz/"
            target="_blank"
            rel="noopener noreferrer"
          ><i class="fa-brands fa-linkedin"></i> LinkedIn</a></div>
        <div><a
            class="hover:text-white"
            href="https://github.com/pato-1441"
            target="_blank"
            rel="noopener noreferrer"
          ><i class="fa-brands fa-github"></i> Github</a></div>
      </div>
    </div>
  </div>
</div>