<div class="flex justify-center">
  <div class="mt-10 w-3/4 py-10 px-10">
    <div class="flex justify-between">
      <h1 class="text-3xl mb-5 text-white">See you soon {{username}}.</h1>
      <button
        class="btn btn-secondary"
        onclick="location.href = '/login'"
      >Log In</button>
    </div>
    <div class="flex justify-center text-white">
      <div class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-7 h-7"
        >
          <path
            d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
          ></path>
        </svg>
      </div>
      <p class="font-light">Bornoz</p>
      <p class="font-semibold">Fly</p>
    </div>
  </div>
</div>