<tr class="hover text-white">
  <td>{{name}}</td>
  <td><span
      class="px-2 py-1 font-semibold rounded-box bg-amber-900 text-yellow-400"
    >${{price}}</span></td>
  <td class="flex justify-center">
    <div class="flex justify-center items-center w-40 h-20">
      <img class="w-1/3" src={{url}} alt="Book" />
    </div>
  </td>
</tr>